* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: grb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }

.nav {
  position: relative; }

.menu {
  list-style: none; }
  .menu__item {
    display: flex;
    align-items: center;
    background-color: #202020; }
    .menu__item .burger {
      visibility: visible;
      display: flex; }
    .menu__item-icon {
      font-size: 24px;
      color: #cccccc;
      width: 60px;
      height: 56px;
      background-color: #202020;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-property: font-size 0.7s linear, color 0.8s linear; }
    .menu__item-icon_name {
      padding: 0 10px;
      text-transform: uppercase;
      visibility: hidden;
      display: none;
      background-color: #202020;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #cccccc;
      transition-property: font-size;
      transition-duration: 3s; }

#toggleBurger, #burger-arrow {
  display: none; }

.toggleBurger__cheked {
  display: none; }

.backgroundColumn {
  height: 100vh;
  background-color: #202020; }

.headline {
  position: absolute;
  left: 60px;
  color: white;
  background-color: #505050;
  width: max-content;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  height: 56px;
  padding-top: 14px;
  padding: 18px 0 0 25px; }
  .headline__title {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: capitalize; }
    .headline__title .chosen-span {
      font-weight: normal; }

.search {
  color: white;
  position: relative;
  width: 570px;
  margin-right: 15px;
  height: 28px; }
  .search__input {
    width: 100%;
    height: 28px;
    margin-right: 15px;
    padding: 8px 37px 9px 36px;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    border-radius: 3px;
    background-color: #707070;
    color: white; }
    .search__input::placeholder {
      color: white;
      font-family: 'Roboto', sans-serif;
      width: 100%; }
  .search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
    background: none; }
  .search__glass {
    font-size: 18px;
    position: absolute;
    top: 15%;
    left: 10px; }

.icon-menu11:before {
  content: "\e8ae"; }

.icon-arrow-drop-down:before {
  content: "\e8a1"; }

.icon-search8:before {
  content: "\e660"; }

.icon-dashboard2:before {
  content: "\e61f"; }

.icon-credit-card4:before {
  content: "\e61e"; }

.icon-group2:before {
  content: "\e8d8"; }

.icon-arrow-back:before {
  content: "\e8a0";
  display: none; }

.icon-keyboard-arrow-right:before {
  content: "\e7c3";
  padding: 0 15px; }

input[id=toggleBurger]:checked ~ .toggleBurger__cheked {
  display: flex;
  cursor: pointer; }

input[id=burger-arrow]:hover + .icon-menu11 {
  display: none; }

input[id=burger-arrow]:hover ~ .icon-arrow-back:before {
  display: block; }

.menu:hover .menu__item-icon_name {
  display: block;
  visibility: visible;
  background-color: #202020; }

.menu__item:hover {
  background-color: #3a3a3a; }
  .menu__item:hover .menu__item-icon {
    background-color: #3a3a3a;
    font-size: 28px;
    color: #c0f2cc; }
  .menu__item:hover .menu__item-icon_name {
    display: block;
    background-color: #3a3a3a; }

/*# sourceMappingURL=style.css.map */
